
<!--<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head><div class="box">
    <h2>Sign Up</h2>
    <form>
      <div class="inputBox">
        <input type="text" name="username" required  onkeyup="this.setAttribute('value', this.value);" value="">
        
        <label><i class="fa fa-user"></i>Username</label>
      
      </div>
      <div class="inputBox">
        <input type="password" name="" placeholder="password" required>
               
              
      </div>
      <div class="inputBox">
        <input type="password" name="" placeholder=" confirm password" required>
               
              
      </div>
      <input type="submit" name="sign-up" value="Sign Up">
    </form>
  </div>  -->

  <!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="box">
    <h2>Sign Up</h2>
    <form>
      <div class="inputBox" >
        
        
        <input type="text" name="username" required  onkeyup="this.setAttribute('value', this.value);" value="" [(ngModel)]="username" maxlength="15">
        
        <label><i class="fa fa-user"></i>Username</label>
        
      </div>
      
      <div class="inputBox">
        
        <input type="password" name="password" required  value=""
               onkeyup="this.setAttribute('value', this.value);"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" [(ngModel)]="password">
        <label><i class="fa fa-unlock-alt"></i>Password</label>
      </div>

      <div class="inputBox">
        
        <input type="password" name="confirmpassword" required  value=""
               onkeyup="this.setAttribute('value', this.value);"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" [(ngModel)]="confirmpassword">
        <label><i class="fa fa-check" aria-hidden="true"></i> Confirm Password</label>
      </div>
      
      <button  (click)="Register()" type="button" class="btn btn-outline-primary btn-lg" >
        <a href="student-login"></a>
        <div id="container-stars">
          <div id="stars"></div>
      </div>
         Sign Up </button>
      <div class="container signin">
        <p>Already have an account? <a href="student-login">Login</a>.</p>
      </div>
    </form>
  </div>



