.box {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-53%, -50%);
  width: 30rem;
  padding: 1.5rem;
  box-sizing: border-box;
  background:linear-gradient(to right,#c2eb30, #f8eb32 0%, rgb(43, 202, 241) 100%);
  border-radius: 0.225rem;
  border-style: inset;
  box-shadow: 5px 5px 10px #fff;

}
.container {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}
.box span{
  color:#fff
}

  
 

  