.table{
    color:black;
   background-color: rgb(140, 194, 241) ;
    background-color: #4e9bda #093a61;
    background-image: url("C:\Users\AKAM\Downloads\images (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: inset;
    box-shadow: 5px 5px 10px #fff;

    
}
.table thead{
    color:#1080db;
    font-style: italic;
}
.table tbody{
    color:black;
    font-style: italic;
}
.box{
    color: aliceblue;
    font-style: italic;
}

.input-group{
    width: 500px;
    justify-content: center;
    left: 100%;
}
.filterByGrade{
 width:2300px;
    
}