<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!--search student by name-->
<div class="list row">
    <div class="col-md-8">
        <div class="input-group md-3">
            <input type="text" class="form-control" name="firstName" placeholder="Search by Student" [(ngModel)] = "firstName" />
            <div class="input-group-append">
                <button class="btn btn-info" type="button" (click)="searchByName()"><i class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</div><br>
<!-- fetch particular grade from student list-->

<div class="filterByGrade">
    <form>
       
        <select (change)="fetchByGrade($event)" class="btn btn-info" name="gradeValue" id="dropdown" [(ngModel)]="gradeValue" >
            <option value="0" selected disabled>Select By Grade</option>
            <option value="6">Grade 6</option>
            <option value="7">Grade 7</option>
            <option value="8">Grade 8</option>
            <option value="9">Grade 9</option>
            <option value="10">Grade 10</option>
            <option value="11">Grade 11</option>
            <option value="12">Grade 12</option>
    
        </select>
    </form>
</div>

<!--to view all student records-->
<div class="box">
<h2> Student List</h2>
</div>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Student Name</th>
            <th> Standard </th>
            <th> Contact No</th>
            <th> City</th>
            <th> Gender</th>
            <th> DOB</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students" >
            <td> {{ student.studentName }} </td>
            <td> {{ student.grade }} </td>
            <td> {{ student.contactNo }} </td>
            <td> {{ student.city }} </td>
            <td> {{ student.gender }} </td>
            <td> {{ student.dateOfBirth }} </td>
            <td>
                <button (click)="viewCourse(student)" class="btn btn-secondary" style="background-color:rgb(233, 81, 233);"><i class="fa fa-book"></i>Courses</button>
                <button (click) = "updateStudent(student.studentId)"  class = "btn btn-success" style="margin-left: 1px"><i class="fa fa-refresh" aria-hidden="true"> Update</i></button>
                <button (click) = "studentDetails(student.studentId)" class = "btn btn-primary" style="margin-left: 1px"><i class="fa fa-eye">View</i></button>
                <button (click) = "confirmDelete(student)" class = "btn btn-danger" style="margin-left: 1px"><i class="fa fa-trash"> Delete</i></button>
            
        </td>
        </tr>
        <!--Delete all records from student list-->
        <tr *ngIf="students.length !== 0">
            <button class="m-3 btn btn-sm btn-danger" style="background-color:rgb(243, 34, 62);" (click)="removeAllStudents()">
                Remove All Students
            </button>
        </tr>
    
        <tr scope="row" *ngIf="students.length === 0">
            <td colspan="4" class="text-center"> No Record Found !!</td>
        </tr>
    </tbody>
</table>
