<div class="col-md-6 offset-md-3">
    <h3> Update Student </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Student Name</label>
            <input type="text" class ="form-control" id = "studentName"
                [(ngModel)] = "student.studentName" name = "studentName" placeholder="Student Name" maxlength="15">
        </div>
    
        <div class="form-group">
            <label>Standard</label>
            <input type="number" class ="form-control" id = "grade"
                [(ngModel)] = "student.grade" name = "grade" placeholder=" Standard">
        </div>
    
        <div class="form-group">
            <label>Contact No</label>
            <input type="text" class ="form-control" id = "contactNo"
                [(ngModel)] = "student.contactNo" name = "contactNo" placeholder="Contact No" maxlength="10">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class ="form-control" id = "city"
                [(ngModel)] = "student.city" name = "city" placeholder=" City">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <input type="text" class ="form-control" id = "gender"
                [(ngModel)] = "student.gender" name = "gender" placeholder=" Gender">
        </div>
        <div class="form-group">
            <label>Date Of Birth</label>
            <input type="text" class ="form-control" id = "dateOfBirth"
                [(ngModel)] = "student.dateOfBirth" name = "dateOfBirth" placeholder="Date of Birth ">
        </div><br>
        <div class="button">
        <button class = "btn btn-outline-primary" type ="submit">
            <div id="container-stars">
                <div id="stars"></div>
            </div>
            Submit</button>
        </div>
    </form>
    </div> 
