<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="box">
    <h2>Feedback</h2>
    <form> <!--for feedback star rating-->
      <div class="rating">
        <span class="star-rating">
          <input type="radio" name="rating1" value="1"><i></i>
          <input type="radio" name="rating1" value="2"><i></i>
          <input type="radio" name="rating1" value="3"><i></i>
          <input type="radio" name="rating1" value="4"><i></i>
          <input type="radio" name="rating1" value="5"><i></i>
        </span>
      </div><br>

      <div class="inputBox" >
        <h5>Your feedback help us to improve.</h5>
        
        <textarea rows="4" cols="40">  
          
          </textarea> 
      </div><br>

      <button (click)="Feedback()" type="button" class="btn btn-outline-primary btn-lg">
        <div id="container-stars">
          <div id="stars"></div>
      </div>Submit Feedback </button>
      
    </form>
  </div>




