.box {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-53%, -50%);
  width: 30rem;
  padding: 1.5rem;
  box-sizing: border-box;
  background:linear-gradient(to right,#c2eb30, #f8eb32 0%, rgb(43, 202, 241) 100%);
  border-radius: 0.225rem;
  border-style: inset;
  box-shadow: 5px 5px 10px #fff;

}
.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}


.star-rating {
  margin: 25px 0 0px;
 font-size: 0;
 white-space: nowrap;
 display: inline-block;
 width: 175px;
 height: 35px;
 overflow: hidden;
 position: relative;
 background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
 background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
h5{
  color: #fff;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25rem;
  height: 3.5rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: .5s;
  border: 4px solid transparent;
  background-image: linear-gradient(#212121,#212121),
        linear-gradient(120deg,#12faf6,#fff 32%);
  background-origin: border-box;
  background-clip: content-box,border-box;
  cursor: pointer;
  
}

#container-stars{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;

}

.btn:hover span{
  color:#12faf6;
}
.btn:hover #container-stars{
  z-index:1;
background-color: #121212;
}
.btn:hover{
  transform: scale(1.1);
  background:transparent;
  color: #12faf6;
  box-shadow: 0 0 25px #12faf649;
}
.btn:active{
  border: 4px solid #12faf6;
  animation: none;
}
#stars{
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}
#stars::after{
  content:"";
  position: absolute;
  top:-10rem;
  left: -100rem;
  width:100%;
  height: 100%;
  animation:anirotate 90s linear infinite;
  background-image: radial-gradient(#fff 1px, transparent 1%);
  background-size: 50px 50px;
  }
  #stars::before{
  content:"";
  position: absolute;
  top:0rem;
  left: -50rem;
  width:170%;
  height: 500%;
  animation:anistar 60s linear infinite;
  background-image: radial-gradient(#fff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity:0.5;
}
@keyframes anistar{
  from{
    transform: translate(0);
   }
   to{
    transform: translateY(-135rem);
   }
}
@keyframes anirotate{
  from{
    transform: rotate(360deg);
   }
   to{
    transform: rotate(0);
   }
}


