<!--About us-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  <section class="about-us">
    <div class="about">
      
      <div class="text">
        <h2>About Us</h2><br>
        <h5>Student Management System</h5>
          <p>Student management system is to maintain a correct list of every students.we can create a new student ,can update any changes in student details, can veiw a particular student detail, can delete a student list, we can veiw all details of every students, can search a particular student details by name and delete all records of students by remove all..   </p>
        
      </div><br>
      <div class="image">
        <img [src]="'./assets/book.jpg'" title="about-us">
      </div>
    </div>
  </section>
  
</body>
</html>

 
