<!--To add new student -->

<div class="box1">
<h3> Create Student </h3>
</div>
<div class="box">
    
   <!-- A new student details to submit by "onSubmit()"-->
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Student Name</label> 
            <input type="text" class ="form-control" id = "studentName"
                [(ngModel)] = "student.studentName" name = "studentName" placeholder="Student Name" maxlength="15">
        </div>
    
        <div class="form-group">
            
           <label>Standard</label>
            <input type="text" class ="form-control" id = "grade"
                [(ngModel)] = "student.grade" name = "grade" placeholder="Standard">
        </div>
    
        <div class="form-group">
            <label>Contact No</label>
            <input type="text" class ="form-control" id = "contactNo"
                [(ngModel)] = "student.contactNo" name = "contactNo" placeholder="Contact No" maxlength="10">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class ="form-control" id = "city"
                [(ngModel)] = "student.city" name = "city" placeholder="City">
        </div>
      
        <div class="form-group">
            <label>DOB</label>
            <input type="text" class ="form-control" id = "dateOfBirth"
                [(ngModel)] = "student.dateOfBirth" name = "dateOfBirth" placeholder="Date Of Birth">
        </div>
        <div class="form-group">
            <label> Gender </label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="Male" [(ngModel)] = "student.gender">
                <label class="form-check-label" for="male">Male</label>
            </div>
<div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="Female" [(ngModel)] = "student.gender">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>
        <br>


       <button class = "btn btn-outline-primary btn-lg" type ="submit">
        <div id="container-stars">
            <div id="stars"></div>
        </div>Submit</button>
        
    </form>
    </div> 
