.box{
    color: #fff;
    font-style: italic;
}
.table{

    
  
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-53%, -50%);
    width: 35rem;
    padding: 1.5rem;
    box-sizing: border-box;
    background:linear-gradient(to right,#c2eb30, #f8eb32 0%, rgb(43, 202, 241) 100%);
    border-radius: 0.225rem;
    border-style: outset;
    box-shadow: 13px 13px 13px  #fff;

   
        
       

}

table tr,td{
border: 1px solid rgb(194, 210, 221);
  border-collapse: collapse;
  border-width: 50%;
  border-left:50% ;
}
.table {
    color:#030d14;
    font-style: italic;
   
   
}

table {
  border:1px solid black;
  padding: 40px;
}
th, td{
  border:1px solid black;
  padding: 20px;
}